/* Add CSS styling here *//* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: maroon;
  background-color: papayawhip;
}

#header {
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 30px;
}

.name {
  color: teal;
  font-size: 5rem;
  text-transform: uppercase;
}

.button {
  height: 80%;
  width: auto;
}

button {
  height: 15%;
  width: auto;
  font-size: 3rem;
}

a:hover {
  background-color: teal;
}

a:visited,
a:link,
a:active {
  text-decoration: none;
  color: black;
}

.name-project {
  background-image: url("https://images.pexels.com/photos/1717760/pexels-photo-1717760.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid black;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
}

.my-name {
  color: papayawhip;
  font-size: 10rem;
  text-transform: uppercase;
}

#images-1-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  margin: 10px;
}

#images-4-6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  margin: 10px;
}

figcaption {
  text-align: center;
  font-size: 2rem;
  font-color: maroon;
}

img {
  border: 1px solid black;
}

footer {
  color: papayawhip;
  background-color: maroon;
  font-size: 3rem;
  text-align: center;
  padding: 15px;
}
.foot {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  #header {
    text-align: center;
    flex-direction: column;
  }
  #images-1-3,
  #images-4-6,
  figcaptions {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #images {
    display: flex;
  }
}

@media (max-width: 500px) {
  .button {
    font-size: 2rem;
  }

  .my-name {
    font-size: 8rem;
  }
  #images {
    display: flex;
    flex-direction: column;
    .my-name {
    }
  }
}
